body {
    background-color: bisque
}

div.container {
    margin: 0 auto;
    max-width: 400px;
    padding: 5px;
}

p {    
    font-family: 'Raleway', sans-serif;
    
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}